:root{
    --Fcolor:#ff5722;
    --Scolor:#01a9f4;
}

div{
    font-family:  sans-serif;
    font-size: larger;
    
    font-weight: bold;
    width:100px;
    height: 100px;
    margin: 50px auto;
    background-color: #eee;
    border-radius: 50%;
    box-shadow: 4px 0px 0px var(--Scolor), -4px 0px 0 var(--Fcolor);
    -webkit-box-shadow: 5px 0 0px var(--Scolor), -5px 0px 0 var(--Fcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--Fcolor) ;

    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
