*{
    font-family:  sans-serif;
}
:root{
    --color:#f44336;
}

.parent{
    width:600px;
    height:300px;
    margin: 20px auto;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.parent div{
    width: calc(90% / 3);
    height: 40px;
    margin: 10px;
    background-color: var(--color);
    color: white;
    align-items: center;
    text-align: center;
    line-height: 2.5;
}
