:root{
    --color:#009688;
}

*{
    font-family:sans-serif;
    /* display: block; */
}
.parent{
    width:600px;
    height: 300px;
    margin: 20px auto;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    align-items: space-between;

}

.parent div{
    background-color: var(--color);
    color: white;
    /* width: 50px; */
    height: calc(80% /3);
    padding: 10px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center;
    line-height: 5.7; */
}

.two{
    align-self: flex-start;
    margin-left: 10px;
    width: 50%;
}
