div{
    margin: 20px auto;
    font-family: sans-serif;
}


.big{
    background-color: #eeeeee;
    padding:50px;
    width: 500px;
    height: 200px;
    margin-top: 50px;
    text-align: center;
    font-size: larger;
    transition: margin-top linear 0.5s ;
    -webkit-transition: margin-top linear 0.5s ;
    -moz-transition: margin-top linear 0.5s ;
    -ms-transition: margin-top linear 0.5s ;
    -o-transition: margin-top linear 0.5s ;
}
.big:hover{
    margin-top: 10px;
}
.small{
    background-color: #abaaaa;
    padding: 30px;
    margin: 10px;
    transition:margin-top 0.5s 0.5s ease;
    -webkit-transition:margin-top 0.5s 0.5s ease;
    -moz-transition:margin-top 0.5s 0.5s ease;
    -ms-transition:margin-top 0.5s 0.5s ease;
    -o-transition:margin-top 0.5s 0.5s ease;
}

.small:hover{
    margin-top: 30px;
}
