div{
    width:100px;
    height:100px;
    margin: 20px ;
    float: left;
    background-color: #eee;
    border:2px  solid black;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    box-shadow:5px 5px 0 #2196f3 , -5px -5px 0 #e91e63;
    position: relative;
    counter-increment: count;
}

div::before{

    content:"Element" ;
    position:absolute ;
    top:40px;
    left:22px;

}

div::after{
    content: counter(count);
    width: 15px;
    background-color: black;
    color: white;
    text-align: center;
    font-size:12px;
    position: absolute;
    top: -10px;
    left: 42px;
    padding: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
