div{
    width:100px;
    height:100px;
    margin:20px auto;
    background-color: #eee;
    box-shadow:inset 1px 0px 19px -3px rgb(0 0 0);
    border-radius:13px 49px 13px 50px;
    -webkit-border-radius:10px 50px 10px 50px;
    -moz-border-radius:10px 50px 10px 50px;
    -ms-border-radius:10px 50px 10px 50px;
    -o-border-radius:10px 50px 10px 50px;
}
