*{
    font-family: sans-serif;
   

}

p{
    background-color: #eee;
    width: 300px;
    height: 20px;
    padding: 10px;
    margin:20px auto;
    counter-increment: members-count;
    border-right: 5px solid #e15241;
    position: relative;
}

p::before{
    content: counter(members-count);
    color: #fff;
    font-size: 20px;
    position: absolute;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 100%;
    background-color: #e15241;
    left: -40px;
    top: 0;
}
